################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EcuadorMikuna/FileContentIndex/33f45c5d-2939-47c9-972d-e43492db671d.vsidx
